@import 'classless.css';

@font-face {
  font-family: MagicCards;
  src: url(../font/MagicCardsNormal.ttf);
}

:root, html[data-theme='brewstruck'] {
	--rem: 12pt;
	--width: 48rem;
	--navpos: absolute;  /* fixed | absolute */
	--font-p: 1rem/1.777 'Open Sans', Helvetica, sans-serif;
	--font-h: .9rem/1.333 'Open Sans', Helvetica, sans-serif;
	--font-c: .9em/1.333 monospace;
	--border: 1px solid var(--cmed);
	--ornament: "} \3000 | \3000 [ \3000 { \3000 ]";
	/* foreground   | background color */
	--cfg:   #f9f9f7;    --cbg:    #34322F;
	--cdark: #a17449;    --clight: #e7dcd1;
	--cmed:  #9f9e93;
	--clink: #efe062;
	--cemph: #F3E88A;
}

body {
  padding: 2.37rem 0.75rem 0;
}

button {
	color: var(--cbg);
	font-weight: 800;
}

button:active, button:hover {
	background: var(--cdard);
}

footer {
  color: var(--cdark);
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  margin: 1.33rem 0 0.75rem;
}

h1, h2 {
	color: var(--cmed);
  font-weight: 500;
  text-align: center;
	text-shadow: 
		1px 1px 1px var(--cdark),
		1px 1px 1px var(--cdark),
		1px 3px 3px var(--clight);
}

h1 {
	font-size: 2.37rem;
	text-transform: uppercase;
}

h2 {
	font-size: 1.77rem;
}

section:after {
	display: none;
  font-family: MagicCards;
	font-size: 1.333rem;
}

table {
	margin-left: auto;
	margin-right: auto;
}

th {
	text-transform: uppercase;
}

tr:hover {
	color: var(--cdark);
}

#cardselect {
	align-items: flex-start;
	clear: both;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#cardselect button {
	flex-grow: 1;
	margin-top: 0.0625rem;
}

#cardselect input {
	flex-grow: 3;
}

#hocard {
	left: -3rem;
	position: fixed;
	top: 1;
	z-index: 100;
}

#hocard img {
	max-width: 12rem;
}

.cardcell {
	cursor: pointer;
}